[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchaudio = "*"
requests = "*"
pillow = "*"
transformers = "==4.48.3"
accelerate = "*"
huggingface-hub = "*"
numpy = "*"
jupyterlab = "*"
ipywidgets = "*"
tqdm = "*"
pandas = "*"
jupyter-black = "*"
ollama = "*"
albumentations = "*"
matplotlib = "*"
opencv-python = "*"
scipy = "*"
einops = "*"
torchvision = "*"
bitsandbytes = "*"
seaborn = "*"
openai = "*"
evaluate = "*"
nltk = "*"
rouge-score = "*"
bert-score = "*"
pydantic = "*"
sentence-transformers = "*"
scikit-learn = "*"
pingouin = "*"
protobuf = "*"
sentencepiece = "*"
tiktoken = "*"
pycocoevalcap = {git = "https://github.com/jmhessel/pycocoevalcap.git"}
clip = {git = "https://github.com/openai/CLIP.git"}

[dev-packages]
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
